.header {
  background-color: #fff;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.logo {
  font-size: 1rem;
  font-weight: bold;
  color: blueviolet;
}
.navlink {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.activeLink {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  color: blueviolet;
}
