.galleryContainer {
  padding-top: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}